<!--
 * CodedInk
 * BWP-Portal/dashboard.php
 * Dashboard containing a data table with information such as medication and symptoms
 * for patients (represented by patient ID)
 -->

<include href="views/header.html"></include>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-11">
            <h1 class="display-5 mt-3 ml-4 text-center">Boxing with Parkinson's Portal</h1>
        </div>
        <div class="col-sm-1">
            <button id="btnLogout" type="button" class="btn btn-danger mt-3 rounded-0 border-danger"
                    onclick="location.href='logout'">
                Logout
            </button>
        </div>
    </div>

    <div class="row mb-2 mt-2">
        <div class="col-sm-6 input-group input-group-md">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" id="search" placeholder="Enter a search term..." onkeyup="search()">
        </div>
        <div class="col-sm-6">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button id="btnFilter" type="button" class="btn btn-primary pl-4 pr-4 mr-2 rounded-0"
                            data-toggle="modal"
                            data-target="#filterModal">
                        <i class="fas fa-filter pl-0 pr-2"></i>
                        Filter Table
                    </button>
                    <button id="btnFilterClear" type="button" class="btn btn-secondary pl-4 pr-4 mr-2 rounded-0"
                            onclick="clearFilters()">
                        <i class="fas fa-times pl-0 pr-2"></i>
                        Clear Filters
                    </button>
                    <button id="btnExport" type="button" class="btn btn-success rounded-0 mr-0">
                        <i class="fas fa-download pl-0 pr-2"></i>
                        Export to Excel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table shadow" id="data-table">
                <thead class="bg-light">
                <th>ID</th>
                <th>Medication</th>
                <th>Symptoms</th>
                <th>Current PDQ Score</th>
                <th>Current Physical Assessment</th>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="result">
</div>

<!-- Include modals -->
<include href="views/modal/filter-modal.html"></include>

</body>

<script src="javascript/dashboard-scripts.js"></script>
<script src="javascript/modal-filters.js"></script>
<script src="javascript/export.js"></script>

<script>
    printTable()
</script>


</html>