<!--
CodedInk
BWP-Portal/model/physical-modal.html
Modal that contains checkboxes to filter physical assessment scores
-->
<div class="modal fade" id="physicalModal" tabindex="-1" role="dialog" aria-labelledby="physicalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="physicalModalLabel">Physical Assessments</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" id="physicalForm" action="#">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>FAB</label><br>
                                <select class="physicalCheck">
                                    <option class="fab" value="none">---</option>
                                    <option class="fab" value="low">Low (0 - 33)</option>
                                    <option class="fab" value="medium">Medium (34 - 67)</option>
                                    <option class="fab" value="high">High (68 - 100)</option>
                                </select><br>
                                <label>Timed Up and Go</label>
                                <select class="physicalCheck">
                                    <option class="tug" value="none">---</option>
                                    <option class="tug" value="low">Low (<= 0)</option>
                                    <option class="tug" value="medium">Medium (1 - 99)</option>
                                    <option class="tug" value="high">High (100+)</option>
                                </select><br>
                                <label>Sit to Stand</label>
                                <select class="physicalCheck">
                                    <option class="s2s" value="none">---</option>
                                    <option class="s2s" value="low">Low (0 - 33)</option>
                                    <option class="s2s" value="medium">Medium (34 - 67)</option>
                                    <option class="s2s" value="high">High (68 - 100+)</option>
                                </select><br>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <input type="submit" name="filterMedication" value="Filter" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>