<!--
CodedInk
BWP-Portal/model/symptoms-modal.html
Modal that contains checkboxes to filter out symptoms
-->
<div class="modal fade" id="symptomsModal" tabindex="-1" role="dialog" aria-labelledby="symptomsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="symptomsModalLabel">Symptoms</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="symptomsForm" action="#">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4>Tremors:</h4>
                                <label>Left-Hand <input type="checkbox" class="symCheck" name="symptoms" value="handLeft"> </label><br>
                                <label>Right-Hand <input type="checkbox" class="symCheck" name="symptoms" value="handRight"></label><br>
                                <label>Head <input type="checkbox" class="symCheck" name="head" value="symptoms"></label><br>
                                <label>Other <input type="checkbox" class="symCheck" name="other" value="symptoms"></label><br>
                            </div>
                            <div class="col-sm-3">
                                <h4>Postural Changes: </h4>
                                <label>Stoop <input type="checkbox" class="symCheck" name="symptoms" value="stoop"></label><br>
                                <label>Shuffle <input type="checkbox" class="symCheck" name="symptoms" value="shuffle"></label><br>
                                <label>Other <input type="checkbox" class="symCheck" name="symptoms" value="other"></label><br>

                            </div>
                            <div class="col-sm-3">
                                <h4>Assistive Device: </h4>
                                <label>Walker <input type="checkbox" class="symCheck" name="symptoms" value="walker"></label><br>
                                <label>Wheelchair <input type="checkbox" class="symCheck" name="symptoms" value="wheelchair"></label><br>
                                <label>Caregiver <input type="checkbox" class="symCheck" name="symptoms" value="caregiver"></label><br>
                                <label>Other <input type="checkbox" class="symCheck" name="symptoms" value="other"></label><br>
                            </div>
                            <div class="col-sm-3">
                                <h4>Other Symptoms</h4>
                                <label>Loss of Balance <input type="checkbox" class="symCheck" name="symptoms" value="balanceLoss"></label><br>
                                <label>Difficulty Concentrating <input type="checkbox" class="symCheck" name="symptoms" value="difficultConcentrate"></label><br>
                                <label>Deep Brain Stimulation <input type="checkbox" class="symCheck" name="symptoms" value="deepBrainStim"></label><br>
                                <label>Dizzy/Unsteady <input type="checkbox" class="symCheck" name="symptoms" value="dizzyUnsteady"></label><br>
                                <label>Difficult Position <input type="checkbox" class="symCheck" name="symptoms" value="difficultPosition"></label><br>
                                <label>Vision Impairment <input type="checkbox" class="symCheck" name="symptoms" value="visionImpairment"></label><br>
                                <label>Slow Movement <input type="checkbox" class="symCheck" name="symptoms" value="slowMovement"></label><br>
                                <label>Fatigue <input type="checkbox" class="symCheck" name="symptoms" value="fatigue"></label><br>
                                <label>Depression <input type="checkbox" class="symCheck" name="symptoms" value="depression"></label><br><br>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                        <input type="submit" name="filter" value="Filter" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>