<div id="medication" class="tab-pane active">
    <!-- Medication filters -->
    <h5>Medications</h5>
    <hr>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Amantadine">
                    Amantadine</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Amantadine ER (Gocovri)"> Amantadine ER Gocovri</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Apokyn (Apomorphine)"> Apokyn Apomorphine</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Benztropine (Cogentin)"> Benztropine Cogentin</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Carbidopa-Levodopa (Sinemet)"> Carbidopa Levodopa
                    Sinemet</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Carbidopa-Levodopa CR (Sinemet CR)"> Carbidopa Levodopa CR
                    SinemetCR</label><br>
                <label><input type="checkbox" name="medication" class="medCheck" value="Duopa">
                    Duopa</label><br>
            </div>
            <div class="col-sm-4">
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Entacapone (Comtan)"> Entacapone Comtan</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Mirapex ER">
                    Mirapex ER</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Pramipexole (Mirapex)"> Pramipexole Mirapex</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Rasagiline (Azilect)"> Rasagiline Azilect</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Requip XL">
                    Requip XL</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Ropinirole (Requip)"> Ropinirole Requip</label><br>
            </div>
            <div class="col-sm-4">
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Rotigotine (Exelon)"> Rotigotine Exelon</label><br>
                <label><input type="checkbox" class="medCheck" name="medication" value="Rytary">
                    Rytary</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Safinamide (Xadago)"> Safinamide Xadago</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Selegiline (Eldepryl)"> Selegiline Eldepryl</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Stalevo">
                    Stalevo</label><br>
                <label><input type="checkbox" class="medCheck" name="medication"
                              value="Trihexyphenidyl"> Trihexyphenidyl</label><br>
            </div>
        </div>
    </div>
</div>