<div id="pdq" class="tab-pane fade show">
    <h5>PDQ Score</h5>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <label>Mobility</label>
            <select class="pdqCheck form-control">
                <option class="mobility" value="none">---</option>
                <option class="mobility" value="low">Low</option>
                <option class="mobility" value="medium">Medium</option>
                <option class="mobility" value="high">High</option>
            </select><br>
            <label>Daily Living</label>
            <select class="pdqCheck form-control">
                <option class="dailyLiving" value="none">---</option>
                <option class="dailyLiving" value="low">Low</option>
                <option class="dailyLiving" value="medium">Medium</option>
                <option class="dailyLiving" value="high">High</option>
            </select><br>
            <label>Emotional</label>
            <select class="pdqCheck form-control">
                <option class="emotional" value="none">---</option>
                <option class="emotional" value="low">Low</option>
                <option class="emotional" value="medium">Medium</option>
                <option class="emotional" value="high">High</option>
            </select><br>
            <label>Stigma</label>
            <select class="pdqCheck form-control">
                <option class="stigma" value="none">---</option>
                <option class="stigma" value="low">Low</option>
                <option class="stigma" value="medium">Medium</option>
                <option class="stigma" value="high">High</option>
            </select><br>
        </div>

        <div class="col-sm-4">
            <label>Social</label>
            <select class="pdqCheck form-control">
                <option class="social" value="none">---</option>
                <option class="social" value="low">Low</option>
                <option class="social" value="medium">Medium</option>
                <option class="social" value="high">High</option>
            </select><br>
            <label>Cognition</label>
            <select class="pdqCheck form-control">
                <option class="cognition" value="none">---</option>
                <option class="cognition" value="low">Low</option>
                <option class="cognition" value="medium">Medium</option>
                <option class="cognition" value="high">High</option>
            </select><br>
            <label>Communication</label>
            <select class="pdqCheck form-control">
                <option class="communication" value="none">---</option>
                <option class="communication" value="low">Low</option>
                <option class="communication" value="medium">Medium</option>
                <option class="communication" value="high">High</option>
            </select><br>
            <label>Body</label>
            <select class="pdqCheck form-control">
                <option class="body" value="none">---</option>
                <option class="body" value="low">Low</option>
                <option class="body" value="medium">Medium</option>
                <option class="body" value="high">High</option>
            </select><br>
        </div>
        <div class="col-sm-4">
            <div class="card border-0">
                <div class="card-body">
                    <h6 class="card-title">PDQ Score Key</h6>
                    <hr>
                    <p class="card-text">
                        <b>Low</b> - 0 to 33<br>
                        <b>Medium</b> - 34 to 66<br>
                        <b>High</b> - 67 to 100
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>