<div id="physical" class="tab-pane fade show">
    <h5>Physical Assessment</h5>
    <hr>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <label>FAB</label><br>
                <select class="physicalCheck form-control">
                    <option class="fab" value="none">---</option>
                    <option class="fab" value="low">Low (0 - 33)</option>
                    <option class="fab" value="medium">Medium (34 - 67)</option>
                    <option class="fab" value="high">High (68 - 100)</option>
                </select><br>
                <label>Timed Up and Go</label>
                <select class="physicalCheck form-control">
                    <option class="tug" value="none">---</option>
                    <option class="tug" value="low">Low (<= 0)</option>
                    <option class="tug" value="medium">Medium (1 - 99)</option>
                    <option class="tug" value="high">High (100+)</option>
                </select><br>
                <label>Sit to Stand</label>
                <select class="physicalCheck form-control">
                    <option class="s2s" value="none">---</option>
                    <option class="s2s" value="low">Low (0 - 33)</option>
                    <option class="s2s" value="medium">Medium (34 - 67)</option>
                    <option class="s2s" value="high">High (68 - 100+)</option>
                </select><br>
            </div>
        </div>
    </div>
</div>